html, body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 300;
}

.links {
  margin: 20px;
}

.links a {
  margin: 10px;
}

a {
  color: black;
}


